{% extends "base.html" %}

{% block pageBase %}
<h1>Esto seria {{tipoAccion}} de Ingreso-Gastos</h1>
        
        <form action="/new" method="POST">
            <label>Fecha:</label>
            <input type="date" name="fecha"><br>
            <label>Concepto:</label>
            <input type="text" name="concepto" required><br>
            <label>Monto:</label>
            <input type="number" name="monto" required><br><br>

            <button type="submit">{{tipoBoton}}</button>
        </form> 


        <a href="/">Volver</a>
{% endblock %}